@model LoginViewModel
@{
    ViewBag.Title = "Sign In";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/png" href="~/images/storeLogo.jpg" />
  <link rel="stylesheet" href="~/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                                <a asp-action="Login" asp-controller="Auth" class="text-nowrap logo-img  navbar-brand brand-logo ">
                                    <div class="logo-wrapper">
                                        <img src="~/images/scaledLogo.PNG" alt="logo" class="logo" />
                                    </div>
                                </a>
                                <p class="text-center">Welcome to Your Store Dashboard</p>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <form method="post" asp-action="Login" asp-controller="Auth">
                  <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input type="email" asp-for="Email" class="form-control" aria-describedby="emailHelp">
                    <span asp-validation-for="Email" class="text-danger"></span>

                  </div>
                  <div class="mb-4">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password"class="text-danger"></span>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox"  id="flexCheckChecked" asp-for="RememberMe">
                      <label class="form-check-label text-dark" asp-for="RememberMe">
                        Remeber this Device
                      </label>
                    </div>
                    <a class="text-primary fw-bold" asp-action="ForgetPassword">Forgot Password ?</a>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                  @* <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">New to MaterialM?</p>
                    <a class="text-primary fw-bold ms-2" href="./authentication-register.html">Create an account</a>
                  </div> *@
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>